.contact_button {
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms ease;

    &:hover, &:focus {
        font-weight: bold;
        color: black;
        background-color: $secondary-color;
        transition: 400ms ease;
    }
}

.submit_button {
    margin-top: 20px;
}

.close_button {
    background-color: transparent;
    border-color: transparent;
    align-self: start;
}