.close_contact_button {
    font-size: 52px;
    color: white;
    cursor: pointer;
}

.close_media_button {
    font-size: 52px;
    color: $primary-color;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.btn-control {
    font-size: 42px;
    color: $primary-color;
    cursor: pointer;
}