/*********** Photographer section ***********/

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding-top: 50px;
    padding-bottom: 90px;
    
    .div_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
            @include profile-shadow;
        }
    }

    figcaption h2 {
        color: $quaternary-color;
        font-size: 2.25rem;
    }

    .div_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
    
        h3 {
            color: $primary-color;
            font-size: 0.813rem;
        }

        .tagline {
            font-size: 0.625rem;
        }

        .price {
            color: #757575;
            font-size: 0.563rem;
        }
    }

    @include media-tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include media-phone {
        grid-template-columns: 1fr;
    }
}