/*********** Photographer section ***********/

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding: 50px 0px;
    
    .div_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div_main:nth-child(1), .div_main:nth-child(4) {
        justify-self: start;
    }

    .div_main:nth-child(2), .div_main:nth-child(5) {
        justify-self: center;
    }

    .div_main:nth-child(3), .div_main:nth-child(6) {
        justify-self: end;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
            @include profile-shadow;
            transition: 200ms;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    figcaption h2 {
        color: $quaternary-color;
        font-size: 2.25rem;
    }

    .div_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
    
        h3 {
            color: $primary-color;
            font-size: 0.813rem;
        }

        .tagline {
            font-size: 0.625rem;
        }

        .price {
            color: #757575;
            font-size: 0.563rem;
        }
    }

    @include media-tablet {
        grid-template-columns: 1fr 1fr;
        
        .div_main:nth-child(n) {
        justify-self: center;
        }
    }

    @include media-phone {
        grid-template-columns: 1fr;
    }
}