.main_photographer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 100px;
}

.photographer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $tertiary-color;
    height: 300px;
    padding: 0 50px;

    .profile {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 4rem;
            color: $quaternary-color;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 {
                font-size: 1.5rem;
                color: $primary-color;
            }

            .tagline {
                font-size: 1.125rem;
                color: #525252;
            }
        }
    }

    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        @include profile-shadow;
    }
}

.filter {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.125rem;
    font-weight: bold;
}

.photographer_medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding-top: 50px;
    padding-bottom: 90px;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}